.drawer-btn{
  display:none;
}

@media only screen and (max-width: 425px){
     .drawer-btn{
          display:flex
        } 
        .drawer-body div :hover{
          cursor: pointer;
          margin-top: 10px;
        }
}