.pagination{
     width: 100%;
     height: 50px;;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     /* background-color: aqua; */
}
.pagebtn-active{
     border-radius: 50px;
     background-color: aqua;
     border:none;
     width: 25px;
     height:25px;
}